{{#partial "content"}}
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Template</th>
      <th>Examples</th>
    </tr>
  </thead>
  <tbody>
    {{#greetings}}
      {{> greeting/_detail this.names}}
    {{/greetings}}
  </tbody>
</table>

<p>
  <a href="/greeting/new">Add a new greeting</a>
</p>
{{/partial}}

{{> layouts/base title="All greetings"}}
