<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>All</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>All greetings</h1>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Template</th>
          <th>Examples</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="g : ${greetings}">
          <td th:text="${g.id}">1</td>
          <td>
            <a th:href="@{/greeting/{num}(num=${g.id})}" th:text="${g.template}">Hello, %s!</a>
          </td>
          <td>
            <th:block th:each="n, state : ${names}">
              <a th:href="@{/greeting/{num}(num=${g.id},name=${n})}" th:text="${n}">Rob</a><th:block th:if="!${state.last}">, </th:block>
            </th:block>
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      <a class="btn btn-primary" role="button" href="/greeting/new"><i class="fas fa-plus" aria-hidden="true"></i> Add a new greeting</a>
    </p>
  </div>
</body>
</html>
