{{#partial "content"}}
  <p>New Greeting</p>
  <form action="/greeting/" method="post">
    <input type="text" name="template"></input>
    <input type="submit"></input> <a href="/greeting">Cancel</a>
  </form>
{{/partial}}

{{> layouts/base title="New greeting"}}
