<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>New</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Add a new greeting</h1>
    
    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
      <div class="form-group" th:classappend="${#fields.hasErrors('template')}? has-error">
        <label for="template">Greeting text</label>
        <input class="form-control" type="text" name="template" id="template" placeholder="Hello, %s!" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('template')}" th:errors="*{template}">errors</p>
      </div>
    
      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/greeting"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>
</html>
