{{#partial "content"}}
  <h1>Add a new greeting</h1>

  <form action="/greeting/" method="post">
    <div class="form-group">
      <label for="template">Greeting text</label>
      <input class="form-control" type="text" name="template" id="template" placeholder="Hello, %s!" autofocus />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
    <a class="btn btn-danger" role="button" href="/greeting">Cancel</a>
  </form>
{{/partial}}

{{> layouts/base title="New greeting"}}
