<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>A greeting</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Greeting</h1>

    <blockquote>
      <p th:text="${greeting}">Hello, World!</p>
    </blockquote>

    <form th:action="@{/greeting/{num}(num=${id})}" th:method="delete">
      <a class="btn btn-primary" role="button" th:href="@{/greeting}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a>
      <button type="submit" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i> Delete</button>
    </form>
  </div>
</body>
</html>
