{{#partial "content"}}
  <h1>Greeting</h1>

  <blockquote>
    <p>{{greeting}}</p>
  </blockquote>

  <a class="btn btn-primary" role="button" href="/greeting"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
{{/partial}}

{{> layouts/base title="A greeting"}}
