<!DOCTYPE html>
<html>
<head>
  <title>
    {{#if title}}
      {{title}}
    {{else}}
      Greetings generator
    {{/if}}
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {{#block "head"}}
  {{/block}}
</head>
<body>
  {{#block "content"}}
  {{/block}}
</body>
</html>
