<!DOCTYPE html>
<html>
<head>
  <title>
    {{#if title}}
      {{title}}
    {{else}}
      Greetings generator
    {{/if}}
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
  {{#block "head"}}
  {{/block}}
</head>

<body>
  <div class="container">
    {{#block "content"}}
    {{/block}}
  </div>

  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
