<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Home</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="jumbotron">
      <h1 class="display-4">Spring MVC Example Application</h1>

      <p class="lead">Test various elements of MVC development in Java.</p>
      <hr class="my-4">
      <p>This application uses:</p>
      <ul>
        <li><a href="https://spring.io/projects/spring-boot/">Spring Boot 2</a>.</li>
        <li><a href="https://spring.io/projects/spring-framework/">The Spring Framework v5</a>.</li>
        <li><a href="https://spring.io/projects/spring-security/">Spring Security v5</a>.</li>
        <li><a href="https://www.thymeleaf.org/">Thymeleaf</a> templates and layouts.</li>
      </ul>
      <p class="lead">Try out the <a th:href="@{/greeting}">Greetings</a> page.</p>
    </div>
  </div>
</body>
</html>
